* {
  font-family: 'Ubuntu', sans-serif;
}
body, html {
  margin: 0;
  background-color: #363636;
}
div {
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
a {
  text-decoration: none;
  color: #5bb7ff;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 30px;
}
p, h1 {
  color: white;
}
span {
  border: 1px solid #7f7f7f;
  background-color: #5b5b5b;
  color: white;
}
