@import url(https://fonts.googleapis.com/css?family=Ubuntu);
* {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}
body, html {
  margin: 0;
  background-color:#363636;
}
body {
  -webkit-text-size-adjust: 100%;
}
.clearfix {
  clear: both;
  height: 1px;
}
input[type=checkbox], button {
  outline:none;
}
.webbstj {
  position: absolute;
  left: 2vw;
  top: 0.75vw;
}
.webbstj img {
  width: 15vw;
  height: 1.8vw;
}
.license {
  position: absolute;
  right: 1vw;
  top: 1vw;
}
.license img {
  width: 5vw;
  height: 1.7vw;
}
.td-logo {
  visibility: visible;
  cursor: auto;
  height: 3vw;
  padding: 5px;
  box-shadow: none;
}
.td-logo div {
  height: 3vw;
}
table
{
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
/*  margin-bottom:30px;*/
}
td {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  background-color: transparent;
  visibility: hidden;
  height: 4.5vw;
  border: 0;
  cursor: pointer;
  box-shadow: 0px 0px 1px 2px black;
  position: relative;
  font-size: 1.7vw;
  border-radius: 1px;
}
.box {
  overflow: hidden;
  height: 4.5vw;
}
#header {
  visibility: visible;
  color: white;
  font-size: 300%;
}
a[href] {
  text-decoration: none;
}
.td-logo:hover {
  background-color: transparent !important;
}
#about-link {
  color:#5bb7ff;
  margin-right:10%;
  margin-left:10%;
  font-size: 120%;
}
.td-header, .td-about {
  box-shadow: none !important;
  visibility: visible !important;
}
.td-header:hover, .td-about:hover {
  background-color:transparent !important;
  cursor:default;
}
.td-header div {
  overflow: visible;
}
.td-about div {
  height: 50%;
}
.td-none {
  z-index: 0 !important;
  background-color: #363636 !important;
  visibility: visible !important;
  cursor: default;
  box-shadow: none !important;
}
.td-gas {  /* gas */
  color: #960000 !important;
  visibility: visible;
}
.td-liq { /* liquid */
  color: green !important;
  visibility: visible;
}
.td-sol {  /* solid */
  color: blue;
  visibility: visible;
}
.td-group, .td-period  {
  color: black;
  visibility: visible;
  box-shadow: none;
}
.td-group div:hover, .td-period div:hover {
  background: gray;
}
.td-group span, .td-period span {
  position: relative;
  top: 30%;
}
.td-hover {
  background: white !important;
}
.td-extend {
  background-color: rgba(177,236,255, 0.3);
  color: black !important;
  text-align: center;
  visibility: visible;
  cursor: default;
}
.extend-text {
  position: relative;
  top: 28%;
}
.tr-space td {
  /*height: 10px;*/
}
.atomic_number {
  position: absolute;
  font-size: 0.8vw;
  top: 7%;
  left: 10%;
}
.atomic_text {
  position: relative;
  top: 30%;
}
.atomic_mass {
  position: absolute;
  font-size: 0.8vw;
  top: 7%;
  right: 10%;
  color: black;
}
.yt {
  position: absolute;
  width: 22%;
  top: 4%;
  right: 7%;
}

.tab2 {
  top: 0px;
  position: absolute;
}
.tab1 {
  top: 0px;
  position: absolute;
}
.tab1 td:hover {
  background-color:#c9c9c9;
}

.help {
  width: 65%;
  position: absolute;
  top: 10%;
  left: -10%;
  cursor: pointer;
}

#settings-button {
  width: 30%;
  position: absolute;
  top: 20%;
  left: 7.5%;
  cursor: pointer;
}
#settings input {
  margin-bottom: 10px;
}

#help p {
  margin-left: 45px;
}
#help > div {
  height: 25px;
  margin-top: 10px;
}
#help > div > div {
  width: 25px;
  height: 25px;
  margin: 0;
  border: 2px solid black;
  float: left;
  margin-right: 10px;
}
#help > div > p {
  padding-top: 4px;
}
#help > div:nth-of-type(1) > div { background-color: #7D89E8; }
#help > div:nth-of-type(2) > div { background-color: #E87D7D; }
#help > div:nth-of-type(3) > div { background-color: #E8B87D; }
#help > div:nth-of-type(4) > div { background-color: #7DE894; }
#help > div:nth-of-type(5) > div { background-color: #7DC6E8; }
#help > div:nth-of-type(6) > div { background-color: #7DE8CF; }
#help > div:nth-of-type(7) > div { background-color: #AB7DE8; }
#help > div:nth-of-type(8) > div { background-color: #E67DE8; }
#help > div:nth-of-type(9) > div { background-color: #DFDFDF; }
#help > div:nth-of-type(10) > div { background-color: #DDE87D; }
#help > div:nth-of-type(11) > div { background-color: #A2E87D; }

.ui-dialog {
  box-shadow: 0 0 10px 5px gray;
}

/* Alkalimetaller */
.tab1 .alk {
  z-index: 3;
  background-color: hsl(0, 70%, 70%);
}
/* Alkaliska jordartsmetaller */
.tab1 .jor {
  z-index: 5;
  background-color: hsl(33, 70%, 70%);
}
/* Lantanoider */
.tab1 .lan {
  z-index: 3;
  background-color: hsl(66, 70%, 70%);
}
/* Aktinoider */
.tab1 .akt {
  z-index: 4;
  background-color: hsl(99, 70%, 70%);
}
/* Övergångsmetall */
.tab1 .ove {
  z-index: 13;
  background-color: hsl(133, 70%, 70%);
}
/* Övriga metaller */
.tab1 .ovr {
  z-index: 11;
  background-color: hsl(166, 70%, 70%);
}
/* Halvmetaller */
.tab1 .hme {
  z-index: 9;
  background-color: hsl(199, 70%, 70%);
}
/* Polyatomisk icke-metall */
.tab1 .pol {
  z-index: 7;
  background-color: hsl(233, 70%, 70%);
}
/* Diatomisk icke-metall */
.tab1 .dia {
  z-index: 5;
  background-color: hsl(266, 70%, 70%);
}
/* Ädelgaser */
.tab1 .gas {
  z-index: 3;
  background-color: hsl(299, 70%, 70%);
}
/* Okända egenskaper */
.tab1 .eju {
  z-index: 1;
  /* background-color: hsl(333, 70%, 70%); */
  background-color: #DFDFDF;
}

.tab1 .metal {
  color:gray;
}
.tab1 .halfmetal {
  color:yellow;
}
.tab1 .nonmetal {
  color:white;
}
.tab1 .unkmetal {
  color:orange;
}

.tab2 .alk {
  z-index: 2;
  box-shadow: 0px 0px 12px 4.5px black;
}
.tab2 .jor {
  z-index: 4;
  box-shadow: 0px 0px 12px 4.5px black;
}
.tab2 .lan {
  z-index: 2;
  box-shadow: 0px 0px 12px 4.5px black;
}
.tab2 .akt {
  z-index: 2;
  box-shadow: 0px 0px 12px 4.5px black;
}
.tab2 .ove {
  z-index: 12;
  box-shadow: 0px 0px 12px 4.5px black;
}
.tab2 .ovr {
  z-index: 10;
  box-shadow: 0px 0px 12px 4.5px black;
}
.tab2 .hme {
  z-index: 8;
  box-shadow: 0px 0px 12px 4.5px black;
}
.tab2 .pol {
  z-index: 6;
  box-shadow: 0px 0px 12px 4.5px black;
}
.tab2 .dia {
  z-index: 4;
  box-shadow: 0px 0px 12px 4.5px black;
}
.tab2 .gas {
  z-index: 2;
  box-shadow: 0px 0px 12px 4.5px black;
}
.tab2 .eju {
  z-index: 0;
  box-shadow: 0px 0px 12px 4.5px black;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  //td {
    //font-size:25px;
  //}
  .tril {
    font-size: 20px;
  }
}
@media only screen
and (min-device-width : 480px)
and (max-device-width : 1024px) {
  //td {
    //font-size:25px;
  //}
  .tril {
    font-size: 22px;
  }
}
