@import url(https://fonts.googleapis.com/css?family=Ubuntu);
* {
  font-family: 'Ubuntu', sans-serif;
}
body, html {
  margin: 0;
  background-color:#363636;
}
body {
  -webkit-text-size-adjust: 100%;
}
.clearfix {
  clear: both;
  height: 1px;
}
.webbstj {
  position: absolute;
  left: 2vw;
  top: 0.75vw;
}
.webbstj img {
  width: 15vw;
  height: 1.8vw;
}
.license {
  position: absolute;
  right: 1vw;
  top: 1vw;
}
.license img {
  width: 5vw;
  height: 1.7vw;
}
.td-logo {
  visibility: visible;
  cursor: auto;
  height: 3vw;
  padding: 5px;
  box-shadow: none;
}
.td-logo div {
  height: 3vw;
}
table
{
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
/*  margin-bottom:30px;*/
}
td {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  background-color:transparent;
  visibility: hidden;
  height: 4.5vw;
  border:0;
  cursor:pointer;
  box-shadow: 0px 0px 1px 2px black;
  position: relative;
  font-size: 1.7vw;
}
.box {
  overflow: hidden;
  height: 4.5vw;
}
#header {
  visibility: visible;
  color: white;
  font-size: 300%;
}
a[href] {
  text-decoration: none;
}
.td-logo:hover {
  background-color: transparent !important;
}
#about-link {
  color:#5bb7ff;
  margin-right:20px;
  margin-left:20px;
  font-size: 120%;
}
.td-header, .td-about {
  box-shadow: none !important;
  visibility: visible !important;
}
.td-header:hover, .td-about:hover {
  background-color:transparent !important;
  cursor:default;
}
.td-header div {
  overflow: visible;
}
.td-about div {
  height: 50%;
}
.td-none {
  z-index: 0 !important;
  background-color: #363636 !important;
  visibility: visible !important;
  cursor:default;
  box-shadow: none !important;
}
.td-gas {
  /* color:red !important; */
  visibility: visible;
}
.td-flow {
  /* color:green !important; */
  visibility: visible;
}
.tr-fast td{
  /* color:black; */
  visibility: visible;
}
.td-fast {
  /* color:blue; */
  visibility: visible;
}
.td-extend {
  background-color: rgba(177,236,255, 0.3);
  color: black !important;
  text-align: center;
  visibility: visible;
  cursor: default;
}
.tr-space td {
  /*height: 10px;*/
}
.atomic_number {
  position: absolute;
  font-size: 0.8vw;
  top: 5%;
  left: 8%;
}
.atomic_text {
  position: relative;
  top: 30%;

}
.yt {
  position: absolute;
  width: 22%;
  top: 4%;
  right: 7%;
}

.tab2 {
  top: 0px;
  position: absolute;
}
.tab1 {
  top: 0px;
  position: absolute;
}
.tab1 td:hover {
  background-color:#c9c9c9;
}

.help {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
#help {
  display: none;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 400px;
  height: 800px;
  background-color: lightgray;
}
#help p {
  margin-left: 15px;
  float: left;
}
#help div {
  float: left;
  width: 50px;
  height: 50px;
}
#help div:nth-child(1) { background-color: red; }
#help div:nth-child(2) { background-color: green; }
#help div:nth-child(3) { background-color: blue; }

@s: 70%;
@v: 70%;

.tab1 .alk {
  z-index: 3;
  background-color: hsl(0, @s, @v);
}
.tab1 .jor {
  z-index: 5;
  background-color: hsl(33, @s, @v);
}
.tab1 .lan {
  z-index: 3;
  background-color: hsl(66, @s, @v);
}
.tab1 .akt {
  z-index: 4;
  background-color: hsl(99, @s, @v);
}
.tab1 .ove {
  z-index: 13;
  background-color: hsl(133, @s, @v);
}
.tab1 .ovr {
  z-index: 11;
  background-color: hsl(166, @s, @v);
}
.tab1 .hme {
  z-index: 9;
  background-color: hsl(199, @s, @v);
}
.tab1 .ick {
  z-index: 7;
  background-color: hsl(233, @s, @v);
}
.tab1 .hao {
  z-index: 5;
  background-color: hsl(266, @s, @v);
}
.tab1 .gas {
  z-index: 3;
  background-color: hsl(299, @s, @v);
}
.tab1 .eju {
  z-index: 15;
  background-color: hsl(333, @s, @v);
}
.tab1 .metal {
  color:gray;
}
.tab1 .halfmetal {
  color:yellow;
}
.tab1 .nonmetal {
  color:white;
}
.tab1 .unkmetal {
  color:orange;
}


@shadow: black;
@shadow1: 12px;
@shadow2: 4.5px;

.tab2 .alk {
  z-index: 2;
  box-shadow: 0px 0px @shadow1 @shadow2 @shadow;
}
.tab2 .jor {
  z-index: 4;
  box-shadow: 0px 0px @shadow1 @shadow2 @shadow;
}
.tab2 .lan {
  z-index: 2;
  box-shadow: 0px 0px @shadow1 @shadow2 @shadow;
}
.tab2 .akt {
  z-index: 2;
  box-shadow: 0px 0px @shadow1 @shadow2 @shadow;
}
.tab2 .ove {
  z-index: 12;
  box-shadow: 0px 0px @shadow1 @shadow2 @shadow;
}
.tab2 .ovr {
  z-index: 10;
  box-shadow: 0px 0px @shadow1 @shadow2 @shadow;
}
.tab2 .hme {
  z-index: 8;
  box-shadow: 0px 0px @shadow1 @shadow2 @shadow;
}
.tab2 .ick {
  z-index: 6;
  box-shadow: 0px 0px @shadow1 @shadow2 @shadow;
}
.tab2 .hao {
  z-index: 4;
  box-shadow: 0px 0px @shadow1 @shadow2 @shadow;
}
.tab2 .gas {
  z-index: 2;
  box-shadow: 0px 0px @shadow1 @shadow2 @shadow;
}
.tab2 .eju {
  z-index: 14;
  box-shadow: 0px 0px @shadow1 @shadow2 @shadow;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  //td {
    //font-size:25px;
  //}
  .tril {
    font-size: 20px;
  }
}
@media only screen
and (min-device-width : 480px)
and (max-device-width : 1024px) {
  //td {
    //font-size:25px;
  //}
  .tril {
    font-size: 22px;
  }
}
