@import url(https://fonts.googleapis.com/css?family=Ubuntu);
* {
  box-sizing: border-box;
  font-family:'Ubuntu', sans-sarif;
}

body {
  margin:0;
  padding: 0;
  color:white;
  background-color:#363636;
}

#main {
  padding-top: 0px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  background-color: #363636;
}

#left, #right {
  box-shadow: 0 0 1px 10px rgb(230, 230, 230);
  background: rgb(230, 230, 230);
  color: black;
  padding: 20px;
  margin-bottom: 50px;
}

#left {
  width: 650px;
  float: left;
  padding-top: 0px;
}

#left #tillbaka {
  margin-top: 5px;
  font-size: 20px;
  color: #5BB7FF;
  text-decoration: none;
}

#left #tillbaka span {
  font-weight: 900;
  font-size: 30px;
  position: relative;
  top: 3px;
}

#right {
  width: 380px;
  float: right;
}

#right #about-us {
  margin-top: 0;
}
#right #us {
  width: 100%;
}

@media screen and (max-width: 1400px) {
  #body {
    width: 85%;
  }
}
