@import url(http://fonts.googleapis.com/css?family=Ubuntu);
* {
font-family:'Ubuntu', sans-sarif;
text-align: justify;
}
#back {
  height: 35px;
  font-size: 15px;
  margin-top: 8px;
  top: 1px;
  left: 10px;
  color: #5BB7FF;
  position: fixed;
}
#back h2 {
  margin: 5px;
}
#back div:nth-child(1) {
  float: left;
  border: 2px solid black;
  height: 100%;
}
#back div:nth-child(2) {
  float: left;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  height: 100%;
}
body {
  margin:0;
  padding: 0;
  margin-top: 55px;
  color:white;
  background-color:#363636;
}
#body {
  padding:10px;
  padding-top: 0px;
  width: 1200px;
  font-size:20px;
  margin-left:auto;
  margin-right:auto;
  background-color:#363636;
}
a {
  color: #5BB7FF;
  /* color:#005599; */
  text-decoration: none;
}
a:hover {
  color: #006cc1;
  text-decoration: none;
}
p {
  margin-bottom: 0;
}
.webbstj {
  width:80%;
  margin-left:auto;
  margin-right:auto;
}
.us {
  float: left;
  width: 46%;
  margin-right: 3%;
  margin-bottom: 30px;
}
.about-us {
}
.about-us * {
}
.why {

}
.syfte {

}
.work {

}
.code {

}
.peda {

}
.learn {

}
.contact {

}
.license {

}
@media screen and (max-width: 1400px) {
  #body {
    width: 85%;
  }
}
