.not-exist {
  padding: 20px;
}
.info {
  padding: 30px;
  min-height: calc(100% - 22px);
}
#newHTML {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  z-index: 1000;
  overflow-y: scroll;
  color: black;
}
#rst {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(26, 255, 65, 0.5); */
  display: none;
  z-index: 100;
}
#exit {
  position: absolute;
  top: 0;
  right: 13px;
  font-size: 70px;
  cursor: pointer;
}
.video iframe {
  margin-right: auto;
  margin-left: auto;
  display: block;
  border-radius: 5px;
  width: 609px;
  height: 343px;
  border: 2px solid #363636;
}
.intro {
  margin-bottom: 50px;
  font-size: 18px;
}
.line {
  border-bottom: 1px solid gray;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.about {
  box-shadow: 0 0 10px 5px #363636;
  padding: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-left: 35px;
  margin-right: 20px;
  margin-bottom: 30px;
  float: right;
  width: 200px;
  display: table;
}
.wiki-tr {
  display: table-row;
}
.wiki-td {
  display: table-cell;
}
.wiki-header {
  font-size: 40px;
  font-weight: bold;
  margin-top:8px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
  text-align: center;
}
.extra-info {
  border-top: 1px dashed #363636;
  border-right: 1px dashed #363636;
  border-left: 1px dashed #363636;
  width: 700px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  height: 110px;
}
@media screen and (max-width: 599px) {
  .info {
    width: 98%;
    margin-left: 1%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1400px) {
  .info {
    width: 90%;
    margin-left: 5%;
  }
}
@media screen and (min-width: 1401px) {
  .info {
    width: 70%;
    margin-left: 15%;
  }
  .extra-info {
    width: 900px;
  }
}
