#newHTML {
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 1000;
  background-color: #EDEDED;
  overflow-y: scroll;
}
#exit {
  position: absolute;
  top: 0;
  right: 13px;
  font-size: 70px;
  cursor: pointer;
}
.info {
  width:90%;
}
.about {
  border: 1px solid black;
  padding: 10px;
  margin-left: 15px;
}
.about ul {
  list-style: none;
}
.about ul li {
  list-style: none;
}
.about ul li h2 {
  font-size:30px;
  font-weight: 400;
}
.about ul li b {
  font-size: 25px;
  font-weight: 100;
}
