<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="%meta_author%">
    <meta name="description" content="%meta_description%">
    <meta name="keywords" content="%meta_keywords%">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@grundamnen">
    <meta name="twitter:title" content="Grundämnen.se">
    <meta name="twitter:description" content="%twitter_description%">
    <meta name="twitter:url" content="https://grundämnen.se/">
    <meta name="robots" content="%meta_robots%t">
    <title>Om - %title%</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/global.css">
  </head>
  <body>
    <h2>500: Serverfel</h2>
    <h4>Något gick fel på serversidan.</h4>
  </body>
</html>
