<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="%meta_author%">
    <meta name="description" content="%meta_description%">
    <meta name="keywords" content="%meta_keywords%">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@grundamnen">
    <meta name="twitter:title" content="Grundämnen.se">
    <meta name="twitter:description" content="%twitter_description%">
    <meta name="twitter:url" content="https://grundämnen.se/">
    <meta name="robots" content="noindex,nofollow">
    <title>Login - %title%</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
  </head>
  <body>
    <div id="login-box">
      <h1>Logga in</h1>
      <br>
      <form method="post">
        <label for="username">Användarnamn</label>
        <input type="text" name="username" id="username" placeholder="Användarnamn">
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Lösenord">
        <br>
        <button type="submit">Logga In</button>
      </form>
      %login%
    </div>
  </body>
</html>
